:root{
    --theme-color:rgb(254,238,0);
}

.img-effect{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: white !important;
}

.bg-theme{
    background-color: var(--theme-color) !important;
}

.cursor-pointer{
    cursor: pointer;
}

.hover{
    overflow: hidden;
}

.hover:hover .img-effect{
    top: 0;
}