.see-more-section{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 9999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 70%;
    height: 70%;
    background-color: white;
    overflow-y: auto;
}

.fa-circle-xmark{
    position: absolute;
    top: 20px;
    right: 20px;
}

.fa-circle-xmark:hover{
    color: grey;
    cursor: pointer;
}